body {
  /*background-color: #46b3e6;*/
  height: 100%;
  font-weight: 500;
  background-image: url("./img/restaurant.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  margin: 0;
}
p {
  margin: 0;
  padding: 10px;
}
.container {
  width: 100%;
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
}
.main-container {
  background-color: transparent !important;
  display: flex;
  color: white;
  height: 100vh;
  display: flex;
  margin: 10px;
  padding: 10px;
  background-color: #dff6f0;
  flex-direction: column;
}
.home {
  border-right: 2px solid #46b3e6 !important;
  width: 33.5%;
  height: 100%;
  border: none;
  font-size: 28px;
  padding: 10px 0;
  font-weight: 800;
  background-color: transparent;
  text-shadow: 1px 1px 1px white;
}
.home:hover {
  background-color: #46b3e6 !important;
  color: white;
  transition: 0.5s;
  text-shadow: 1px 1px 1px black;
  opacity: 0.8;
}
.menu {
  border-right: 2px solid #46b3e6 !important;
  width: 33.5%;
  height: 100%;
  border: none;
  font-size: 28px;
  padding: 10px 0;
  font-weight: 800;
  background-color: transparent;
  text-shadow: 1px 1px 1px white;
}
.menu:hover {
  background-color: #46b3e6 !important;
  color: white;
  transition: 0.5s;
  text-shadow: 1px 1px 1px black;
  opacity: 0.8;
}
.contact {
  width: 33.5%;
  height: 100%;
  border: none;
  font-size: 28px;
  padding: 10px 0;
  font-weight: 800;
  background-color: transparent;
  text-shadow: 1px 1px 1px white;
}
.contact:hover {
  background-color: #46b3e6 !important;
  color: white;
  transition: 0.3s;
  text-shadow: 1px 1px 1px black;
  opacity: 0.8;
}
#contact-container {
  background-color: rgba(70, 179, 230, 0.3);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% 50px;
}
#contact-email {
  text-shadow: 10px 1px 25px black;
  font-weight: bolder;
  font-size: 32px;
  z-index: 1;
}
#contact-header {
  text-align: center;
  text-shadow: 8px 5px 8px black;
  font-size: 50px;
  text-decoration: none;
  padding: 20px 0;
  width: 70%;
  font-weight: 400;
}
#contact-phone {
  text-shadow: 10px 1px 25px black;
  font-weight: bolder;
  font-size: 32px;
  z-index: 1;
}
#contact-zip {
  text-shadow: 10px 1px 25px black;
  font-weight: bolder;
  font-size: 32px;
  z-index: 1;
}
#speciality-text {
  width: 50%;
  text-align: left;
}
.tabscontainer {
  display: flex;
  width: 100%;
  background-color: rgba(240, 248, 255, 0.8);
}
.textHome {
  margin: 0px 5px;
  display: flex;
  flex-direction: column;
  height: 80%;
  margin-top: 3%;
  font-size: 20px;
  background-color: rgba(70, 179, 230, 0.3);
}
.textHome h1 {
  text-align: center;
  text-shadow: 8px 5px 8px black;
  font-size: 58px;
  text-decoration: none;
  padding: 20px 0;
}
.textHome h1:hover {
  text-decoration: underline;
}
.textHome p {
  text-shadow: 10px 1px 25px black;
  font-weight: bolder;
  font-size: 32px;
  z-index: 1;
}
.textHome p:hover {
  text-decoration: underline;
  font-size: 34px;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .textHome h1 {
    font-size: 40px;
  }
  .textHome p {
    padding: 8px 0;
    margin-top: 2z0px;
    font-size: 24px;
  }
  .textHome p:hover {
    font-size: 26px;
  }
}
